.loginContainer {
    background-color: var(--jet);
    border-radius: 1rem;
    box-shadow: 0 0 2rem .1rem rgba(0, 0, 0, 0.5);
    height: 40rem;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
}

.loginForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.loginForm h1 {
    color: var(--sunglow);
    font-size: 2.5rem;
    position: relative;
    text-align: center;
}

.loginForm form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
}

.loginForm input {
    background-color: var(--white-smoke);
    border: .1rem solid black;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    padding: 1rem;
    width: 17rem;
}

.loginBtn {
    background-color: var(--sunglow);
    border: .1rem solid black;
    border-radius: .5rem;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    height: 2.5rem;
    padding: .5rem;
    width: 17rem;
}

.loginFooter {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.loginFooter p {
    color: var(--white-smoke);
    font-size: 1rem;
}

.loginFooter button {
    background: none;
    border: 0;
    color: var(--sunglow);
    cursor: pointer;
    font-size: 1rem;
}

.loginFooter button:hover {
    text-decoration: solid underline .1rem;
}

.loginError {
    align-items: center;
    background-color: #FA817B;
    border: .1rem solid #8D524C;
    border-radius: .5rem;
    color: black;
    display: flex;
    justify-content: center;
    width: 17rem;
}

.loginError p {
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    * {
        background-color: var(--jet);
    }

    .loginContainer {
        box-shadow: none;
        height: 100%;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}