.resultsName {
   color: var(--white-smoke);
   font-size: 1.25rem;
   padding: 2rem 0 0;
}

.resultsName p span {
   color: var(--sunglow);
}

.resultsWrapper {
   display: flex;
   flex-direction: column;
}

.resultsBook {
   border-bottom: 0.15rem solid var(--jet);
   padding: 2rem 0;
   display: flex;
   flex-direction: row;
   gap: 2rem;
}

.resultsBook a img {
   border: 0.15rem solid var(--jet);
   height: 15rem;
   width: 10rem;
}

.resultsBook:hover a img {
   border-color: var(--sunglow);
   height: 15rem;
}

.resultsBook:hover .resultsTitle {
   color: var(--sunglow);
}

.resultsInfo {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.resultsInfo a {
   text-decoration: none;
}

.resultsTitle {
   font-size: 1.25rem;
}

.resultsAuthors {
   font-style: italic;
}

.resultsDescription {
   display: flex;
   padding-top: 1.5rem;
}
