:root {
   --white-smoke: #f5f5f5ff;
   --light-grey: #5d5d5b;
   --jet: #343432ff;
   --eerie-black: #20221cff;
   --sunglow: #ffcb1fff;
   --red: #ec5b5b;
   --blue: #77b5e4;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body {
   background-color: var(--eerie-black);
}
